@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100;200&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* about page */
.paragraph-1, img {
    display: inline-block;
    width: 30%;
}

