* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #ECDD7B;
}
#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #6a5749;
    color: #ECDD7B;
}
#main-components a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
#main-components a:hover{
    box-shadow: 5px 3px 3px #333;
    background-color: #CE8147;
    color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}

/* about page */
.column {
    min-width: 20px;
    max-width: 800px;
    margin: 0px auto;
}
#cards {
    flex: 1;
    padding: 24px;
    margin: 24px;
    text-align: center;
    background-color: #EBEBEB;
    border-radius: 30px
}
#cards h2 {
    font-size: 25px;
    margin: 20px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    background-color: #CE8147;
}
#cards p {
    font-size: 20px;
    margin: 24px 0px 0px;
    padding: 10px;
    color: #1b1b1b;
}
#cards img {
    width: 23vw;
    border: 3px solid #333;
}
#cards ul {
    color: #1b1b1b;
    text-align: left;
    font-size: 20px
}
#cards .self {
    border-radius: 100px;
}
#cards h3 {
    background-color: #6a5749;
    border-radius: 30px;
    padding: 8px;
    color: #EBEBEB;
}

/* Footer */
#footer {
    background-color: #6a5749;
    color: #ECDD7B;
    padding: 15px;
    text-align: center;
}
#footer a {
    text-decoration: none;
    color: white;
}
.foot-nav {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

/* media query */
@media only screen and (max-width: 1000px) and (min-width: 100px) {
    .foot-nav {
        font-size: 10px;
    }
    .column {
        min-width: 20px;
        max-width: 800px;
        margin: 0px auto;
    }
    .contain {
        display: block;
    }
    .foot-nav {
        font-size: 10px;
    }
}
