* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #ECDD7B;
}
#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #6a5749;
    color: #ECDD7B;
}
#main-components a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
#main-components a:hover{
    box-shadow: 5px 3px 3px #333;
    background-color: #CE8147;
    color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}

/* about page */
#main-layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#main-layout img {
    width: 30%;
    border-radius: 40px 40px 45px 45px;
    object-fit: cover;
    flex: 1;
}
#header {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#header h3 {
    font-size: 30px;
    text-align: center;
    background-color: #CE8147;
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin: auto;
}
.header-text {
    flex: 3;
    background-color: #EBEBEB;
    color: black;
}
.header-text p {
    text-align: center;
    font-size: 15px;
}
.header-text h4 {
    font-size: 20px;
    text-align: center;
    background-color: #2D4739;
    color: white;
    padding: 3px;
}
ul {
    font-size: 0;
    text-align: left;
    padding-bottom: 10px;
}
li {
    font-size: 15px;
}