* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: white;
}

#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #E1F4CB;
    color: black;
}
#main-components a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
#main-components a:hover{
    box-shadow: 5px 3px 3px #333;
    background-color: #717568;
    color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
}

/* contact page */
#main-layout {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
    background-color: #EBEBEB;
}
h3 {
    font-size: 30px;
    background-color: #717568;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
img {
    border: dashed 5px #717568
}
#second-layout {
    background-color: #EBEBEB;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}
#main-layout p {
    background-color: #BACBA9;
    color: black;
    padding: 3px;
    border-radius: 10px;
    font-weight: bold;
}
#second-layout img {
    width: 612px;
    height: 344px;
    object-fit: cover;
}
#second-layout {
    display: flex;
    column-gap: 14px;
}
#second-layout p {
    text-align: center;
    font-size: 15px;
    background-color: #BACBA9;
    color: black;
    padding: 10px;
    border-radius: 30px;
    margin: auto;
}