* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: white;
}

#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #E1F4CB;
    color: black;
}
#main-components a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
#main-components a:hover{
    box-shadow: 5px 3px 3px #333;
    background-color: #717568;
    color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
}

/* contact page */
#layout {
    display: flex;
    padding: 15px;
    padding-bottom: 30px;
    margin: 48px auto;
    justify-content: space-evenly;
    background-color: #b9bab5;
}
.form span {
    display: block;
    padding-top: 20px;
    border-bottom: 3px solid #717568;
    color: #a39292;
}
.fill1 {
    background-color: #E1F4CB;
    margin-bottom: 15px;
}
.fill1:hover {
    box-shadow: inset 0px 8px 16px -6px black;
}
.fill2 {
    background-color: #E1F4CB;
    margin-bottom: 15px;
}
.fill2:hover {
    box-shadow: inset 0px 8px 16px -6px black;
}
.fill3 {
    background-color: #E1F4CB;
    margin-bottom: 15px;
}
.fill3:hover {
    box-shadow: inset 0px 8px 16px -6px black;
}
.form a {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    color: #717568;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
}
.form a:hover {
    box-shadow: 3px 3px 6px black;
}

/* media query */
@media only screen and (max-width: 1000px) and (min-width: 100px) {
    #layout {
        display: block;
        margin: 48px auto;
    }
    #left-content h3 {
        visibility: hidden;
    }
}