* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #ECDD7B;
}

#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #6a5749;
    color: #ECDD7B;
}
#main-components a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
#main-components a:hover{
    box-shadow: 5px 3px 3px #333;
    background-color: #CE8147;
    color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}

/* contact page */
#layout {
    display: flex;
    padding: 15px;
    padding-bottom: 30px;
    margin: 48px auto;
    justify-content: space-evenly;
    background-color: #EBEBEB;
    max-width: 800px;
}
#right-content a img {
    width: 100px;
    padding: 10px;
    text-decoration: none;
}

/* Footer */
#footer {
    background-color: #6a5749;
    color: #ECDD7B;
    padding: 15px;
    text-align: center;
}
#footer a {
    text-decoration: none;
    color: white;
}
.foot-nav {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

/* form */
#form-layout {
    max-width: 800px;
    margin: 0px auto;
    margin-top: 20px;
}
    
header {
    text-align: center;padding: 50px;
}
    
header p {
    font-size: 14px;
}
    
form {
    background-color: #EBEBEB;
    padding: 36px;
    border: 2px solid #CCCCCC;
    border-radius: 2px;
}
    
form div label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
    
input,
select,
textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    margin-bottom: 16px;
}
    
textarea {
    font-family: sans-serif;
}
    
    
input[type=submit] {
    width: auto;
    background-color: #CE8147;
    color: white;
    border: 0;border-radius: 3px;
    min-width: 75px;
}
input[type=submit]:hover {
    background-color: #ECDD7B;
    color: black;
    transition: 0.3s;
}   
    
input:not(:focus):not(:placeholder-shown):invalid {
    background-color: lightcoral;
    border: 2px solid red;
}

/* media query */
@media only screen and (max-width: 1000px) and (min-width: 100px) {
    #layout {
        display: block;
        margin: 48px auto;
        text-align: center;
    }
    #left-content h3 {
        visibility: hidden;
    }
    .foot-nav {
        font-size: 10px;
    }
    #form-layout {
        margin: 48px auto;
        max-width: 500px;
        padding-bottom: 20px;
    }
}