/* gallery */
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.mixed-layout {
    columns: 3 10vw;
    gap: 14px;
}
.mixed-layout img {
    width: 90%;
    margin-bottom: 0px;
}
h3 {
    font-size: 60px;
}
p {
    font-size: 15px;
    font-weight: bold;
}

.small-text {
    font-size: 8px;
    padding-bottom: 5vh;
}