* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: white;
}

#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #E1F4CB;
    color: black;
}
#main-components a {
    text-decoration: none;
    color: black;
    padding: 10px;
}