* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: white;
}
#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #E1F4CB;
    color: black;
}
#main-components a:hover{
    box-shadow: 5px 3px 3px #333;
    background-color: #717568;
    color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
}
#main-components a {
    text-decoration: none;
    color: black;
    padding: 10px;
}


/* index/home page */
#layout {
    margin: 48px auto;
    text-align: center;
}
#layout p{
    font-size: 15px;
}
#main-layout {
    background-image: url(../images/person11.jpg);
    height: 150vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
h3 {
    font-size: 30px;
    background-color: #717568;
    color: white;
    padding: 10px;
    border-radius: 30px;
}


/* cards */
.column {
    min-width: 20px;
    max-width: 1200px;
    margin: 0px auto;
}
#card-section {
    background-color: transparent;
    color: black;
    padding: 24px;
}
.contain {
    display: flex;
    justify-content: space-evenly;
}
#cards {
    flex: 1;
    padding: 24px;
    margin: 24px;
    text-align: center;
    background-color: #717568;
    border-radius: 30px
}
#cards h2 {
    font-size: 25px;
    margin: 0px;
    color: white;
    border: 5px solid #E1F4CB;
    padding: 15px;
    border-radius: 30px;
}
#cards p {
    font-size: 20px;
    margin: 24px 0px 0px;
    padding: 10px;
    color: #E1F4CB;
}
#cards a {
    text-decoration: none;
}
#cards h2:hover {
    background-color: #E1F4CB;
    border: 5px solid transparent;
    color: #717568
}

/* media query */
@media screen and (max-width: 768px) {
    #main-components {
        position: absolute;
    }
    #layout {
        position: absolute;
    }
    #card-section {
        position: absolute;
    }
    #card-section p {
        font-size: 10px;
    }
    #card-section h2 {
        font-size: 12.5px;
    }
}