* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #ECDD7B;
}
#main-components {
    text-align: center;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #6a5749;
    color: #ECDD7B;
}
#main-components a:hover{
    box-shadow: 5px 3px 3px #333;
    background-color: #717568;
    color: #EBEBEB;
    border-radius: 20px;
    padding: 10px;
}
#main-components a {
    text-decoration: none;
    color: white;
    padding: 10px;
}


/* index/home page */
#layout {
    margin: 48px auto;
    text-align: center;
}
#layout p{
    font-size: 15px;
}
#main-layout {
    background-image: url(../images/person11.jpg);
    height: 150vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
h3 {
    font-size: 30px;
    background-color: #717568;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
#layout a {
    background-color: #561D25;
    padding: 24px;
    border-radius: 30px;
    color: black;
    text-decoration: none;
    border: 2px solid black;
}
#layout a:hover {
    background-color: #561D25;
}


/* cards */
.column {
    min-width: 20px;
    max-width: 1200px;
    margin: 0px auto;
}
.contain {
    display: flex;
    justify-content: space-evenly;
}
#cards {
    flex: 1;
    padding: 24px;
    margin: 24px;
    text-align: center;
    background-color: #CE8147;
    border-radius: 30px
}
#cards h2 {
    font-size: 25px;
    margin: 0px;
    color: white;
    border: 5px solid #6a5749;
    padding: 15px;
    border-radius: 30px;
}
#cards p {
    font-size: 20px;
    margin: 24px 0px 0px;
    padding: 10px;
    color: #E1F4CB;
}
#cards a {
    text-decoration: none;
}
#cards h2:hover {
    background: #ECDD7B;
    border: 5px solid transparent;
    color: #6a5749
}

@media only screen and (max-width: 1000px) and (min-width: 100px) {
    .column {
        min-width: 20px;
        max-width: 1200px;
        margin: 0px auto;
    }
    .contain {
        display: block;
    }
}