* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: #012638;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 18px;
}
#navbar a:hover {
    background-color: white;
    color: #fb6793;
}
#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 12px;
    padding-top: 13px;
}

.dropdown-contain {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
    z-index: 10;
}
.dropdown-contain:last-child .dropdown-menu {
    right: 0px;
}
.dropdown-contain:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.dropdown-menu a {
    background-color: #03aac2;
    width: 100%;
    border: 1px solid transparent;
}
#navbar .dropdown-menu a:hover {
    background: white;
    border: 1px solid #7b6953;
}

.center-column,h2 {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    background-color: #fb6793;
    padding: 24px;
}
.center-column,img {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.center-column,p {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
    background-color: #03aac1;
    padding: 14px;
}