* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#header {
    top: 0px;
    position: sticky;
}
.nav {
    background: linear-gradient(to bottom, #f1756f, #ad1a07);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.nav #logo {
    margin-right: auto;
}
.nav a {
    text-decoration: none;
    color: #080C10;
    padding: 10px;
    font-size: 17px;
}
.nav a:hover {
    text-shadow: 3px 3px 10px black;
    color: white;
}
.nav p {
    text-decoration: none;
    color: #080C10;
    padding: 10px;
    font-size: 25px;
}
.button {
    background-color: white;
    margin: 0px auto;
    border-radius: 15px;
    border: 3px solid #080C10;
}
.button:hover {
    margin: 0px auto;
    border-radius: 15px;
    border: 3px solid #080C10;
    box-shadow: inset 3px 3px 5px #333;
    color: #ad1a07;
}