* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#top-header {
    top: 0px;
    position: sticky;
}
#top-header p{
    background-color: #2c012c;
    margin: 0px auto;
    padding: 15px;
    text-align: center;
    color: white;
}


#header {
    top: 0px;
    position: sticky;
}
.nav {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
#logo {
    font-size: 25px;
    color: #fe5f1b
}
#link a {
    text-decoration: none;
    color: #fe5f1b;
}
#link a:hover {
    color: black;
}
.button {
    text-decoration: none;
    color: white;
    border: 3px solid transparent;
    padding: 10px;
    border-radius: 20px;
    background-color: #2c012c;
}
.button:hover {
    background-color: white;
    color: #360b05;
}


#bottom-header {
    top: 0px;
    position: sticky;
}
#bottom-header {
    margin: 0px auto;
    padding: 15px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
    background: #913500;
}
#bottom-header a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

