/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@100;200&family=Sacramento&display=swap');

#license {
    border: 4px solid brown;
    border-radius: 5%;
    background-color: rgb(255, 211, 149);
    padding: 10px;
}
h1 {
    color: darkblue;
}
h4 {
    color: white;
    text-align: center;
    background-color: darkblue;
}
#left-side {
    display: inline-block;
}
#id-and-expiration {
    display: inline-block;
    color: darkblue
}
#id-and-expiration div {
    display: inline-block;
    padding-bottom: 10px;
}
#id-and-expiration span {
    color: red;
}
#address {
    border: 1px solid transparent;
    font-weight: bold;
    text-align: left;
}
#right-side img{
    width: 150px
}
#small-pic img {
    border: 2px dashed transparent;
    opacity: 50%;
    width: 60px;
    display: flex;
}
#data-left {
    display: inline-block;
}
#data-right {
    display: inline-block;
}
#signature {
    text-align: center;
}
#right-side {
    display: inline-block;
}
#right-side img {
    display: inline-block;
}
#donor-and-real-id {
    text-align: center;
}
#donor {
    display: inline-block;
    color: red
}
#real-id {
    display: inline-block;
}
#small-pic, #data-fields {
    display: inline-block;
}
#signature {
    padding: 5px;
    font-family: 'Sacramento', cursive;
}







