@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400&family=REM:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;}
body {
    margin: 0px;
}

/* navbar */
#navbar {
    background-color: #040707;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 20px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
#navbar #logo {
    margin-right: auto;
}
#navbar #logo img {
    width: 150px;
}

/* about us header */
.about-us {
    padding: 48px;
    background-color: #040707;
    color: white;
}
.about-us h2 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: white;
    background-color: #E3A479;
    padding: 15px;
    display: table;
}
.about-us p{
    padding-right: 45px;
    padding-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
}
.about-us span a {
    background-color: white;
    color: #040707;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.about-us span a:hover {
    background-color: #E3A479;
    color: white;
}
.big-logo img {
    width: 400px;
}
#header {
    display: flex;
    background-color: #040707
}


/* SPACER */
#spacer1 p {
    text-align: center;
    font-size: 25px;
}
#spacer p {
    padding-top: 200px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px
}
/* cards */
.single-col {
    max-width: 900px;
}
#three-cards {
    background-color: white;
    color: #040707;
    padding: 48px;
}
.card-contain {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0px auto;
}
.card {
    flex: 1;
    border: 1px solid #333;
    padding: 36px;
    text-align: center;
    margin: 0px;
    border-radius: 40px;
}
.card h3 {
    font-size: 26px;
    margin: 0px;
    padding-bottom: 26px;
}
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
    padding-bottom: 26px;
}
.card img {
    width: 150px;
    height: 150px;
    object-position: center center;
}
.card a {
    padding: 10px 60px;
    font-size: 26px;
    color: white;
    background-color: #040707;
    border-radius: 30px;
    text-decoration: none;
}
.card a:hover {
    background-color: #E3A479;
}

/* text image layout */
#fox-tale {
    display: flex;
    padding-top: 136px;
    padding-left: 60px;
}
.text-image h3{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 30px
}
.text-image p {
    font-family: 'Montserrat', sans-serif;
    padding-right: 36px;
    padding-bottom: 36px;
}
.big-image img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.text-image a {
    background-color: #E3A479;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}
.text-image a:hover {
    background-color: #040707;
}
/* footer */
#footer {
    background-color: #040707;
    padding-top: 5px;
    padding-bottom: 50px;
}
#footer img {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 48px auto;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.links a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}