@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400&family=REM:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;}
body {
    margin: 0px;
}

/* navbar */
#navbar {
    background-color: #040707;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    font-size: 20px;
    margin: auto;
}
#navbar #logo {
    margin-right: auto;
}
#navbar #logo img {
    width: 150px;
}

/* content */
#paragraph {
    padding: 24px;
}
#paragraph h2 {
    font-family: 'Lobster', cursive;
    color: #E3A479;
    font-size: 35px;
    text-align: left;
}
#paragraph p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* gallery */
#gallery-container {
    max-width: 800px;
    margin: 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gallery {
    margin-left: auto;
    margin-right: auto;
}
.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.text {
    text-align: center;
}