* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}


/* navbar */
#header {
    position: sticky;
    top: 0px;
}

#navbar {
    background-color: #57886C;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
#navbar .logo {
    margin-right: auto;
    font-size: 30px;
    color: #f8c7cc;
}
#navbar a {
    color: #0e0f19;
    text-decoration: none;
    padding: 10px;
    float: left;
}
#navbar a:hover {
    color: #0e0f19;
    background-color: #f8c7cc;
    padding: 10px;
    border-radius: 20px;
}


/* hero */
#hero {
    background-image: url(..//images/pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    text-align: center;
    padding-top: 10vh;
    padding-left: 450px;
}
.hero-content a {
    background-color: #57886C;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #f8c7cc;
}
.hero-content a:hover {
    background-color: #f8c7cc;
    color: #0e0f19;
}


/* sections */
#sections {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}
#on-sale-prod {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
#on-sale-prod img {
    width: 100%;
    border: 5px solid transparent;
}
#on-sale-prod img:hover {
    border: 5px solid transparent;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #0e0f19;
}

#feat-prod {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
#feat-prod img {
    width: 100%;
    border: 5px solid transparent;
}
#feat-prod img:hover {
    border: 5px solid transparent;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #0e0f19;
}

#pop-des {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
#pop-des img {
    width: 100%;
    border: 5px solid transparent;
}
#pop-des img:hover {
    border: 5px solid transparent;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #0e0f19;
}

/* footer */
#foot-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    background-color: #f8c7cc;
    padding: 15px;
    margin: 0px;
    text-align: center;
}
#footer h3 {
    font-size: 25px;
}
#footer a {
    display: block;
    text-decoration: none;
    color: #57886C;
    padding: 15px;
}


/* media queries */
@media only screen and (max-width: 480) {
    #header {
    position: sticky;
    }
    #navbar {
    background-color: #57886C;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    }
    #navbar .logo {
    margin-right: auto;
    font-size: 15px;
    color: #f8c7cc;
    }
    #navbar a {
    color: #0e0f19;
    text-decoration: none;
    padding: 5px;
    }
    #navbar a:hover {
    color: #0e0f19;
    background-color: #f8c7cc;
    padding: 5px;
    border-radius: 10px;
    }
    #hero {
        height: 50vh;
    }
    .hero-content {
        text-align: center;
        padding-top: 20vh;
        padding-left: 300px;
    }
}