* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
/* navbar */
#navbar {
    background-color: #FFEFDE;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #ED4727;
    padding: 24px;
    font-size: 25px;
}
#navbar a:hover {
    text-decoration: underline;
}
#navbar #logo img {
    margin-right: auto;
    width: 100px;
}
.dropdown {
    position: relative;
}
.menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.dropdown:last-child .menu {
    right: 0px;
}
.dropdown:hover .menu {
    opacity: 1;
    visibility: visible;
}
.menu a {
    background-color: #FFEFDE;
    border-bottom: 1px solid black;
    width: 100%;
    min-width: 200px;
}
#navbar .menu a:hover {
    background-color: #ED4727;
    color: #FFEFDE;
}
#buttons {
    margin-left: auto;
}
#button img {
    width: 50px;
}