@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.center {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    background-color: #f4b9a4;
    padding: 15px;
}
#top-text {
    text-align: center;
    color: #043c5c;
}
#top-text h4 {
    font-family: 'Tinos', serif;
}
#top-text h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
}
#top-text h2 {
    font-family: 'Tinos', serif;
    padding-bottom: 20px;
}
#vs {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: #043c5c;
}
#left img {
    width: 150px;
    border: 3px solid black;
}
#left h4 {
    color: #6e91a4;
    font-size: 20px;
}
#right img {
    width: 150px;
    border: 3px solid black;
}
#right h4 {
    color: #6e91a4;
    font-size: 20px;
}
#vs p {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    font-family: 'Black Ops One', cursive;
}
#bottom-text {
    text-align: center;
    color: #043c5c;
}
#bottom-text h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 30px;
}
#bottom-text h2 {
    font-family: 'Tinos', serif;
}
#bottom-text h5 {
    font-family: 'Tinos', serif;
}
#buttons {
    display: flex;
    justify-content: space-around;
}
.left {
    padding: 20px;
    border-radius: 20px;
    background-color: #6e91a4;
    color: white;
    text-decoration: none;
    font-size: 20px
}
.right {
    padding: 20px;
    border-radius: 20px;
    background-color: #6e91a4;
    color: white;
    text-decoration: none;
    font-size: 20px
}
#last {
    text-align: center;
    color: #043c5c;
}