* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.center {
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
    background-color: gray;
    padding: 15px;
}
#top-text {
    text-align: center;
    color: white;
}
#vs {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: white
}
#left img {
    width: 150px;
    border: 3px solid black;
}
#right img {
    width: 150px;
    border: 3px solid black;
}
#vs p {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}
#bottom-text {
    text-align: center;
    color: white;
}
#buttons {
    display: flex;
    justify-content: space-around;
}