* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#background-image {
    background-color: rgb(88, 68, 68);
    margin: 0px;
    width: 100%;
    height: 100%;
}
#layout {
    max-width: 500px;
    margin: auto auto;
    text-align: center;
}

.hero {
    padding-bottom: 50px;
}
.hero img {
    width: 50%;
    border-radius: 20px;
    border: 3px solid white;
}
.hero h2 {
    font-size: 50px;
    padding: 24px;
    padding-bottom: 50px;
    color: white;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 15px;
}
.images img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid white;
}