* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=REM:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#column-1 {
    background-color: lightblue;
}
#column-1 img {
    max-width: 250px
}

#column-2 {
    background-color: darkblue;
    color: white;
}

#column-3 {
    background-color: aquamarine;
}