* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: sans-serif
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 250px 450px 1fr ;
    grid-template-areas: ".sidebar content.";
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* sidebar stuff */
#sidebar {
    background-color: #888098;
    padding: 14px;
    grid-area: sidebar;
    align-self: flex-start;
    position: sticky;
    top: 25px;
}
#sidebar h2 {
    background-color: #344055;
    padding: 5px;
    color: #f8effe;
    font-size: 20px;
    text-align: center;
}
#sidebar ul {
    background-color: #CFB3CD;
    border: 2px solid #f8effe;
    margin: 0 0 36px;
    list-style-type: none;
    padding: 12px;
}
#sidebar li {
    padding: 8px 0px;
    border-bottom: 2px solid #344055;
    text-align: center;
}
#sidebar a {
    text-decoration: none;
    color: #344055;
}

/* main content */
#main-content1 {
    background-color: #f8effe;
    padding: 14px;
    grid-area: content;
}
#main-content1 h1 {
    text-align: center;
    padding-bottom: 15px
}
#main-content1 p {
    padding: 10px
}
h2 {
    text-align: center;
    padding-top: 30px
}
#header2 {
    border: 2px solid #344055;
    padding-top: 15px;
    background-color: #CFB3CD;
    color: #344055;
}